@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic);
$font-stack:Roboto, sans-serif;
$copyFont: 100;
$primary-color: #312821; 
$nocolor:transparent;
$basic-color:#daa44e;
$radius: 10px;
$testColor1: $nocolor /*rgba(255, 0, 0, 0.3)*/;
$testColor2: $nocolor /*salmon*/;
$testColor3: $nocolor /*rgba(135, 206, 235,0.40)*/;
@mixin nav($color, $height){
	background:$color;
	width:100%;
	height:$height;
	box-shadow: 1px 1px 12px $primary-color;
	position: fixed;
	z-index: 1000;
}
body{
	overflow-x:hidden;
}
@mixin marginClear(){
	margin:0;
}
@mixin paddingC(){
	padding:0;
}
@mixin around(){
	top:0;
	bottom:0;
	left:0;
	right:0;
}
@mixin t($time){
	transition: all $time ease;
}
h1,h2,h3,h4,h5,h6{
	@include marginClear();
}
a{
	color:$basic-color;
	text-decoration: none;
	tansition:all 200ms ease;
}
body {
	background: url(../img/paper.png) no-repeat;
	background-size: cover;
	background-attachment: fixed;
  	font: 100% $font-stack;
  	font-weight: $copyFont;
  	color: $primary-color;
   	border-radius: $radius;
   	@include paddingC();
	@include marginClear();
}
.subBackground{
	position: absolute;
	width: 100%;
	height: 100%;
	img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.dot1{
		animation: blur 2s 5.8s  1 ease-out backwards;
	}
	.dot2{
		animation: blur 1s 5.5s 1 backwards;
	}
	@keyframes blur{
		from{
			-webkit-filter: blur(100px);
		}
	}
}
nav{
	@include nav($primary-color,65px);
	@include marginClear();
	ul{	
		@include marginClear();
		@include paddingC();
		display:flex;
		flex-flow:row wrap;
		align-items:space-between;
		height: 100%;
		
		li{	
			box-sizing:border-box;
			flex:1;
			height: 100%;
			/*max-width: 40px;*/
			background: transparent;
			flex: 1;
			display: inline;
			color: snow;
			text-align: center;
			line-height: 70px;
			margin-left: 10px;
			/*margin:auto;*/
			transition:all 200ms ease;
			position: relative;
			overflow: hidden;
			a{
				color:snow;
			}
		}
		li:not(:last-child){

			max-width: 100px;
			background:#000;
		}
		li:first-child{
			max-width: 100px;
			background:transparent;
		}
		li:last-child img{
			float: right;
			margin: 20px;
		}

		li:not(.exclude):hover{
			color:$basic-color;
			border-bottom: 3px solid $basic-color;
		}
		li:not(.exclude):hover a{
		color: $basic-color;
		}




	}

}
/*page1*/

.page1{
	clear: both;
	width:100%;
	height:100vh;
	background:$testColor1;
	position: relative;
	@include t(1s);
	div{
		width: 100%;
		height: auto;

		position: relative;
		.cat_head{
			@include t(1s);
			z-index:100;
			position: relative;
			transform-origin:50%  200%;
			img[id*=cathead]{
				position: absolute;
				@include around();
				margin:250px auto;
			}
			#cathead_white{
				animation: graduallyShow 1s 1s 1 ease backwards;
			}
			#cathead_color{
				animation: graduallyShow 3s 2s 1 cubic-bezier(.35,-0.41,.51,1.34) backwards;
			}
			#cathead_sketch{
				animation: opacity 1s 1 ease backwards;
			}
			@keyframes opacity{
				from{
					opacity: 0;
				}
			}
			@keyframes graduallyShow{
				from{
					opacity: 0;
					-webkit-filter: blur(30px);
				}
			}
		}
		img{
			position: absolute;
			display: block;
			@include around();
			margin:auto;
			max-width: 800px;

		}
		.ragdoll_title{
			@include t(1s);
			width: 160%;
			margin-top: 120px;
			z-index: -1;
			animation: slideDown 800ms 5.7s 1 ease backwards;
		}
		@keyframes slideDown{
			from{
				opacity: 0;
				transform:translate(0, -100%);
			}
			80%{
				transform:translate(0, 0%);
			}
			90%{
				transform:translate(0, -3%);

			}
		}
		.cattery_title{
			width: 34vw;
			z-index: -1;
		}
		.frame{
			@include t(1s);
			position: absolute;
			transform-origin:center 0%;
			display: block;
			width: 100%;
			height: 300px;
			overflow: hidden;
			margin-top: 490px;
			animation: step 3s 4s 1 ease backwards;
		}
		@keyframes step{
			from{width: 0};

		}
	}
}

.page2{
	width: 100vw;
	height: 100vh;
	background: $testColor2;
	padding-top: 0;
	@include t(2s);
	.ragdoll_history{
		
		transition:all 1s ease;
		
		/*transition:opacity 0.5s ease, transform, 1 ease;*/
		/*opacity:0;*/
	}
	div{
		article{

			.bold{
				font-size: 2em;
				font-weight: 800;
			}
			span{
				@include t(1s);
				opacity: 0;
				background: $basic-color;
			}
			display: block;
			border:1px dotted $basic-color;
			max-width:800px;
			margin:auto;
			line-height:1.4em;
			padding:2em;
			padding-bottom:200px;
		}
		.illustration_intro{
			
			position: relative;
			width: 100%;
			height: auto;
			background: red;
			img{
				max-width: 100%;
				height: auto;
				position: absolute;
				display: block;
				@include around();
				margin:auto;
				transform: translateY(150px);
				@include t(1.5s);
			}
		}
	}

}
.page3{
	width: 100vw;
	height: 100vh;
	background: $testColor3;
	div{
		width: 100%;
		height: 100%;
		position: relative;

		.leftDoor{
			width: 60%;
			height: 100%;
			float: left;
			position: relative;
			img{
				width: 100%;
				height: 100%;

			}
			.video{
				width: auto;
				height: auto;
				position: absolute;
				top:130px;
				bottom:0;
				left:50px;
				right: 0;
				margin:auto;
				z-index: -1;
				iframe{
					border:10px solid $basic-color;
					max-width: 400px;
					

				}
			}
			article{
				z-index: 300;
				max-width: 25vh;
				margin-left: 2em;
				height: auto;
				position: absolute;
				color: $primary-color;
				border: 1px dotted $primary-color;
				padding:1.1em;
				top: 45vh;
				right:30%;
				animation: sA 1s 1 ease;
				display: none;
			}
			.arrowL{

				z-index: 300;
				width: 10px;
				height: 10px;
/*				background: red;*/
				position: absolute;
				top: 0;
				right: 20%;
				bottom: 0;
				margin: auto;
				border: 1px solid $primary-color;
				@include t(1s);
				border-bottom-color: transparent;
				border-right-color: transparent;
				transform:rotate(315deg);
				transform-origin:center center;
				&:hover{
					cursor:pointer;
					border-width:3px;
				}	
			}

		}
		.rightDoor{
			width: 38%;
			height: 100%;
			float: right;
			position: relative;
			img{
				width: 100%;
				height: 100%;
			}
			.bicolorPortrait{
				max-width: 250px;
				height: auto;
				position: absolute;
				transform:translate(-30%, -550px);
				z-index: -1;
			}
			.rotateBtn{
				width: 20px;
				height:20px;
				border: 7px solid $primary-color;
				border-radius: 50%;
				border-bottom-color:snow; 
				position: absolute;
				top:50vh;
				left: 20%;
				transition:background 300ms ease;
				&:hover{
					background:rgba(255, 250, 250, 0.4);
					animation-play-state:paused;
				}
				.arrow{
					width: 10px;
					height: 10px;
					/*background: red;*/
					position: absolute;
					top: -30px;
					border: 1px solid rgba(255, 250, 250, 0.3);
					border-bottom-color: transparent;
					border-left-color: transparent;
					transform:rotate(135deg);
					/*animation-play-state: paused;*/
					
				}



			}


		}
	}

}
.arrow{
	animation: opacity 600ms infinite alternate linear;
}
@keyframes opacity{
	from{
		opacity: 0;
	}
}
.rotateBtn{
	animation:spin 3s infinite linear;
}
@keyframes spin{
	from{
		transform:rotate(360deg);
	}
}
.leftDoor{
	transition: all 1s ease;
}
.page4{
	width: 100vw;
	height: 100vh;
	background: $testColor3;
	div{
		width: 100%;
		height: 100%;
		position: relative;
		.video{
			width: auto;
			height: auto;
		}
		.leftDoor{
			width: 60%;
			height: 100%;
			float: left;
			img{
				width: 100%;
				height: 100%;

			}
			.video{
				width: auto;
				height: auto;
				position: absolute;
				top:130px;
				bottom:0;
				left:50px;
				right: 0;
				margin:auto;
				z-index: -1;
				iframe{
					border:10px solid $basic-color;
					max-width: 400px;
					

				}
			}
			article{
				z-index: 300;
				max-width: 25vh;
				margin-left: 2em;
				height: auto;
				position: absolute;
				color: $primary-color;
				border: 1px dotted $primary-color;
				padding:1.1em;
				top: 45vh;
				right:30%;
				display: none;
				animation: sA 1s 1 ease;
			}
						.arrowL{

							z-index: 300;
							width: 10px;
							height: 10px;
			/*				background: red;*/
							position: absolute;
							top: 0;
							right: 20%;
							bottom: 0;
							margin: auto;
							border: 1px solid $primary-color;
							@include t(1s);
							
							border-bottom-color: transparent;
							border-right-color: transparent;
							transform:rotate(315deg);
							transform-origin:center center;
							
							&:hover{
								cursor:pointer;
								border-width:3px;
							}	
						}
		}
		.rightDoor{
			width: 38%;
			height: 100%;
			float: right;
			position: relative;
			img{
				width: 100%;
				height: 100%;
			}
			.colorpointPortrait{
				max-width: 450px;
				height: auto;
				position: absolute;
				transform:translate(-46%, -550px);
				z-index: -1;
				
			}
		
			.rotateBtn{
				width: 20px;
				height:20px;
				border: 7px solid $primary-color;
				border-radius: 50%;
				border-bottom-color:snow; 
				position: absolute;
				top:50vh;
				left: 20%;
				transition:background 300ms ease;
				&:hover{
					background:rgba(255, 250, 250, 0.4);
					animation-play-state:paused;
				}

			}
			.arrow{
				width: 10px;
				height: 10px;
				/*background: red;*/
				position: relative;
				top: -30px;
				border: 1px solid rgba(255, 250, 250, 0.3);
				border-bottom-color: transparent;
				border-left-color: transparent;
				transform:rotate(135deg);
				
			}


		}
	}
}
.page5{
	width: 100vw;
	height: 100vh;
	background: $testColor3;
	div{
		width: 100%;
		height: 100%;
		position: relative;
		.video{
			width: auto;
			height: auto;
		}
		.leftDoor{
			width: 60%;
			height: 100%;
			float: left;
			img{
				width: 100%;
				height: 100%;

			}
			.video{
				width: auto;
				height: auto;
				position: absolute;
				top:130px;
				bottom:0;
				left:50px;
				right: 0;
				margin:auto;
				z-index: -1;
				iframe{
					border:10px solid $basic-color;
					max-width: 400px;
					

				}
			}
			article{
				z-index: 300;
				max-width: 25vh;
				margin-left: 2em;
				height: auto;
				position: absolute;
				color: $primary-color;
				border: 1px dotted $primary-color;
				padding:1.1em;
				top: 45vh;
				right:30%;
				display: none;
				animation: sA 1s 1 ease;

			}
						.arrowL{

							z-index: 300;
							width: 10px;
							height: 10px;
			/*				background: red;*/
							position: absolute;
							top: 0;
							right: 20%;
							bottom: 0;
							margin: auto;
							border: 1px solid $primary-color;
							@include t(1s);
							transform-origin:center center;
							border-bottom-color: transparent;
							border-right-color: transparent;
							transform:rotate(315deg);
							&:hover{
								cursor:pointer;
								border-width:3px;
							}	
						}
		}
		.rightDoor{
			width: 38%;
			height: 100%;
			float: right;
			position: relative;
			img{
				width: 100%;
				height: 100%;
			}
			.mittedPortrait{
				max-width: 300px;
				height: auto;
				position: absolute;
				transform:translate(-36%, -550px);
				z-index: -1;
			}
			.rotateBtn{
				width: 20px;
				height:20px;
				border: 7px solid $primary-color;
				border-radius: 50%;
				border-bottom-color:snow; 
				position: absolute;
				top:50vh;
				left: 20%;
				transition:background 300ms ease;
				&:hover{
					background:rgba(255, 250, 250, 0.4);
					animation-play-state:paused;
				}

			}
			.arrow{
				width: 10px;
				height: 10px;
				/*background: red;*/
				position: relative;
				top: -30px;
				border: 1px solid rgba(255, 250, 250, 0.3);
				border-bottom-color: transparent;
				border-left-color: transparent;
				transform:rotate(135deg);
				
			}


		}
	}
}
.page6{
	width: 100vw;
	height: 100vh;
	div{
		
		.aboutme{
			width: 80%;
			min-height: 80%;
			border:1px dotted $basic-color;
			margin: 100px auto;
			position: relative;
			padding: 50px;
			article{
				img{
					display: block;
					margin:auto;
				}
				span{
					font-weight: 800;
					font-size: 3em;
				}
				margin: 30px;
				height: 80%;
				line-height: 2em;
				columns :2;
				column-gap: 100px;
				-webkit-column-width: 300px;
				-moz-column-width: 300px;
				-o-column-width: 300px;
				column-width: 300px;
				img{
				max-width: 300px;
				max-height: auto;
				z-index: 1000;
				}
			}
			.fullFamily{
				max-width: 300px;
				max-height: 300px;
				position: relative;
				transform:scale(1.4);
				left: 70%;
				bottom: 15%;
				img{
					position: absolute;
					top: 0;
				}
				img:nth-child(1){
					width: 350px;
				}
				img:nth-child(2){
					width:200px;
					top: 50px;
					right: 0;
				}
				img:nth-child(3){
					width: 150px;
					left:20px;
					top:70px;
				}
			}
		}
		footer{
			width: 100%;
			height: 10%;
			border-top: 1px solid $primary-color;

			.social{

				width: 130px;
				height: auto;
				margin:20px auto;
				&:hover{
					cursor:pointer;
					
				};
			}
			p{
				margin: 0;
				padding: 0;
				margin-bottom:2em;
				text-align: center;
			}
		}
	}

}

/*animation*/
@keyframes sA{
	from{
		opacity: 0;
		transform: rotate(30deg) translateY(-1000px) translateX(1000px)
	}
}
